#modal {
    border: none;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80vh;
}

.container {
    width: 36vw;
    min-height: 40vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.container_forms {
    width: 80%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_forms .forms {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container_forms .forms .title {
    width: 100%;
    font-size: 35px;
    font-weight: 500;
    margin: 0;
}

.container_inputs {
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 4%;
}

.container_inputs input {
    height: 40px;
    width: 98%;
    border: none;
    border-radius: 5px;
    background-color: #F1F1F1;
    padding-left: 10px;
    outline: none;
}

.erro {
    font-size: 12px;
    display: none;
    color: red;
}

.container_button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container_button p {
    font-size: 12px;
}

.cadastrar {
    color: #F77500;
    cursor: pointer;
}

.container_button button {
    width: 100%;
    height: 40px;
    border: none;
    color: #fff;
    background-image: linear-gradient(to right, #FFB834, #FF7700);
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.setaVoltar {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    color: #333;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.seta_svg {
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 800px) {
    .banner {
        display: none;
    }

    .container_forms {
        width: 100%;
    }

    .banner .logo_vigilante {
        width: 200px;
        height: 75px;
    }

    .container_forms .forms .title {
        font-size: 25px;
    }

    .container_button {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .container_button button {
        width: 100%;
    }

    .container_forms .forms {
        height: auto;
        padding: 55px 0;
    }

}