* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  background: #fff;
}


.container_conteudo {
  height: 100vh;
  width: 85vw;
  background-color: #F9F9F9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conteudo {
  width: 80%;
  height: 80%;
}


.titulo_pagina {
  font-size: 26px;
  margin-bottom: 25px;
}

.cards_info {
  display: flex;
  align-items: center;
  gap: 25px;
}

.coluna {
  height: 100%;
  width: 6%;
  background: linear-gradient(45deg, #0800ff, #9aceff);
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}

.col {
  text-align: left;
}

.card_info {
  background: #fff;
  width: 30%;
  height: 10vh;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 10%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.07);
}

.card_titulo {
  font-size: 14px;
  color: #666;
}

.card_valor {
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.container_tabela {
  margin-top: 35px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.07);
}

.container_usuarios {
  height: 375px;
  max-height: 70%;
  overflow-y: auto;
}

.tabela_header {
  background: #f5f5f5;
  padding: 16px 0;
  border-radius: 8px 8px 0px 0px;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.7fr 1fr 1fr 1fr;
  font-size: 15px;
  font-weight: bold;
  color: #666;
  padding-left: 20px;
  padding-right: 20px;
}

.tabela_row {
  display: grid;
  grid-template-columns: 1fr 1.5fr 2fr 1fr 1fr 1fr;
  padding: 20px;
  border-bottom: 1px solid #efefef;
  font-size: 15px;
  color: #333;
  align-items: center;
}

.tabela_row:last-child {
  border-bottom: none;
}

.funcoes {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.funcoes i {
  font-size: 12px;
  color: #efefef;
}

.btn_verde, .btn_vermelho {
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
}

.btn_verde {
  background: #2ecc71;
}

.btn_vermelho {
  background: #e74c3c;
}

.tabela_row input  {
    border: none;
    outline: none;
    appearance: none;

}

#open{
    width: 12%;
    height: 7%;
    border: none;
    border-radius: 10px;
    background: linear-gradient(45deg, #0800ff, #9aceff);
    color: #ffffff;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 10px;
    cursor: pointer;
}

#open i{
    font-size: 25px;
}

#categoria_filtro{
    width: 98%;
    height: 20%;
    border: 1px solid #5a5a5a;
    border-radius: 3px;
}
