* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  background: #fff;
}


.container_conteudo{
    height: 100vh;
    width: 85vw;
    background-color: #F9F9F9;
}