* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #fff;
  overflow-x: hidden;
}

header {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar {
  width: 90%;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 16px;
  border-radius: 20px;
  background: rgba(194, 192, 192, 0.619);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: #fff;
  position: fixed;
}

.logo img {
  width: 150px;
  margin-right: 8px;
  margin-top: 10px;
}

.menu-desktop ul {
  list-style: none;
  display: flex;
  gap: 32px;
}

.menu-desktop ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  transition: 0.3s;
}

.menu-desktop ul li a:hover {
  color: #9fc3ff;
}

.btn-contato button {
  padding: 10px 24px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(135deg, #1500B7, #6F3BFF);
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.btn-contato button:hover {
  opacity: 0.85;
  transform: scale(1.05);
}

.titulo-municipios {
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin-top: 150px;
  margin-bottom: -10px;
}

.carousel {
    width: 100%;
    overflow-x: auto;
    margin: 3em auto;
    display: flex;
    gap: 1em;
    scroll-behavior: smooth;
    anchor-name: --carousel;
    scroll-snap-type: x mandatory;
    scroll-marker-group: after;
}

.carousel::scroll-marker-group {
    display: flex;
    justify-content: center;
    gap: .5em;
}

.card::scroll-marker{
    content: '';
    height: 1em;
    width: 1em;
    background-color: black;
    border-radius: 50%;
}

.card::scroll-marker:target-current {
    background-color: orange;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel::scroll-button(right), .carousel::scroll-button(left) {
    content: '>';
    border: none;
    background-color: orange;
    font-family: Consolas;
    font-size: 3rem;
    color: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding-bottom: .1em;
    cursor: pointer;
    position: fixed;
    position-anchor: --carousel;
    position-area: right center;
    translate: -120%;
}

.carousel::scroll-button(left) {
    content: '<';
    position-area: left center;
    translate: 120%;
}

.carousel::scroll-button(right):disabled, .carousel::scroll-button(left):disabled {
    opacity: 0.5;
    cursor: auto;
}

.card {
    scroll-snap-align: start;
    flex: 0 0 30em;
    height: 24em;
    padding: 0;
    border-radius: 15px;
    text-align: center;
    align-content: center;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.card:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.card .municipio-nome {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 8px 15px;
    border-top-left-radius: 20px;
}