.carousel {
    width: 100%;
    overflow-x: auto;
    margin: 3em auto;
    display: flex;
    gap: 1em;
    scroll-behavior: smooth;
    anchor-name: --carousel;
    scroll-snap-type: x mandatory;
    scroll-marker-group: after;
}

.carousel::scroll-marker-group {
    display: flex;
    justify-content: center;
    gap: .5em;
}

.card::scroll-marker{
    content: '';
    height: 1em;
    width: 1em;
    background-color: black;
    border-radius: 50%;
}

.card::scroll-marker:target-current {
    background-color: orange;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel::scroll-button(right), .carousel::scroll-button(left) {
    content: '>';
    border: none;
    background-color: purple;
    font-family: Consolas;
    font-size: 3rem;
    color: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding-bottom: .1em;
    cursor: pointer;
    position: fixed;
    position-anchor: --carousel;
    position-area: right center;
    translate: -50%;
}

.carousel::scroll-button(left) {
    content: '<';
    position-area: left center;
    translate: 50%;
}

.carousel::scroll-button(right):disabled, .carousel::scroll-button(left):disabled {
    opacity: 0.5;
    cursor: auto;
}

.card {
    scroll-snap-align: start;
    flex: 0 0 20em;
    height: 12em;
    background-color: var(--primary-color);
    padding: 1em;
    border-radius: .5em;
    text-align: center;
    align-content: center;
}