@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.container_navbar{
    height: 100vh;
    width: 15vw;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.container_top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img_logo{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_logo img{
    width: 100%;
    height: 80%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar_buttons {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
}

.nav_item {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: #8a8f9c;
    font-size: 18px;
}

.nav_item i {
    font-size: 24px;
    color: #34495e;
}

.nav_item span {
    font-size: 16px;
    font-weight: 500;
}

.nav_item:hover {
    color: #34495e;
}


.container_bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 10px;
}

.card_usuario {
    width: 100%;
    background: #f5f5f5;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user_icon i {
    background: linear-gradient(90deg, #FF7A00, #FFD200);
    padding: 8px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}

.user_info {
    display: flex;
    flex-direction: column;
}

.user_info .perfil {
    font-size: 12px;
    color: gray;
}

.user_info .nome {
    font-size: 14px;
    font-weight: 600;
}

.notificacao i {
    font-size: 20px;
    color: #4a4a4a;
}

.btn_gerenciar_usuario {
    width: 100%;
    background: linear-gradient(90deg, #FF7A00, #FFD200);
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 10px;
    color: white;
    cursor: pointer;
    font-weight: 600;
}

.container_bottom p {
    font-size: 11px;
    color: #999;
}
