@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    background: #fff;
}

.conteudo {
    height: 100vh;
    width: 85vw;
    background-color: #f4f7fa;
    padding: 25px 40px;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

header,
footer {
    display: none !important;
}

nav {
  display: flex;
  gap: 20px;
}

.main-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* Padding superior ajustado */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.perfil-title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    position: relative;
    color: #000f3f;
    margin-bottom: 10px;
}

.perfil-title::after {
    content: "";
    display: block;
    width: 180px;
    height: 3px;
    background: linear-gradient(90deg, #0800ff, #9aceff);
    margin: 12px auto 0;
    border-radius: 2px;
}

.perfil-subtitle {
    text-align: center;
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
}

.perfil-grid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-perfil {
    background-color: #fff;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    padding: 2%;
    
}

.card-perfil h3 {
    font-size: 22px;
    font-weight: 600;
    color: #000f3f;
    margin-bottom: 20px;
    border-bottom: 2px solid #f0f2f5;
    padding-bottom: 10px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin-bottom: 5px;
}

.form-group input {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-group input:read-only {
    background-color: #eee;
    color: #777;
    cursor: not-allowed;
}

/* Botões do Formulário */
.card-perfil button {
    text-decoration: none;
    text-align: center;
    padding: 12px 24px;
    border: none;
    border-radius: 50px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
    font-size: 15px;
}

.btn-editar {
    background: #f0ad4e;
}

.btn-salvar {
    background: linear-gradient(135deg, #1500B7, #6F3BFF);
}

.card-perfil button:hover {
    opacity: 0.85;
    transform: scale(1.05);
}
