h1, h2, h3 {
    text-align: center;
}

.pagina {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 45vw;
  border: 10px solid orange;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding-left: 3%;
  padding-right: 3%;
}

.img_logo {
  width: 15%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
}

.barra-superior {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

#close-icon {
  float: right;
  cursor: pointer;
  align-self: flex-start;
}

#close-icon:hover {
  color: orange;
  transition: 0.1s;
}

.gerarPDF {
  float: right;
  background-color: aliceblue;
}

.titulo-pagina {
  margin-top: 8%;
  text-align: center;
}

.conteudo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.relatorio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-municipios {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.dados-gerais {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.dados_mensais {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.crimes-ocorridos-mes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 20px;
  border: 3px solid black;
  border-radius: 10px;
  width: 30%;
  height: 60%;
}

.area-tabela {
  display: flex;
  flex-direction: column;
  align-items: center;
}

i {
  font-size: large;
  color: aqua;
  background-color: black;
  border: 1px solid black;
}

table td,
th {
  border: 1px solid black;
  padding: 10px;
}

th {
  text-align: start;
  background-color: rgb(240, 230, 230);
}

td {
  width: 10%;
  align-items: center;
  text-align: end;
  text-align: center;
}

#rodape-pagina {
  margin-top: 20%;
  text-align: end;
}

.page-break {
    page-break-before: always;
}