* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #f8e3c7, #ffffff);
  color: #333;
}

header {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar {
  width: 90%;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 16px;
  border-radius: 20px;
  background: rgba(194, 192, 192, 0.619);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: #fff;
  position: fixed;
}

.logo img {
  width: 150px;
  margin-right: 8px;
  margin-top: 10px;
}

.menu-desktop ul {
  list-style: none;
  display: flex;
  gap: 32px;
}

.menu-desktop ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  transition: 0.3s;
}

.menu-desktop ul li a:hover {
  color: #9fc3ff;
}

.btn-contato button {
  padding: 10px 24px;
  border: none;
  border-radius: 50px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  background-color: #ff9900;
}

.btn-contato button:hover {
  opacity: 0.85;
  transform: scale(1.05);
}

.user {
  font-size: 14px;
}

.criar_filtros {
  margin-top: 130px; 
  padding: 60px 8%;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  width: 85%;
  max-width: 1200px;
  margin-inline: auto;
}

.criar_filtros h1 {
  font-size: 28px;
  font-weight: 600;
  color: #444;
  margin-bottom: 40px;
}

.criar_filtros #botoes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.criar_filtros #botoes button {
  flex: 1 1 200px;
  height: 45px;
  font-size: 15px;
  background-color: #fff; 
  border: 1px solid #d0cece;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  color: #444;
}

.criar_filtros #botoes button:hover {
  background-color: #f2f2f2;
}

.criar_filtros #botoes #adicionar {
  background-color: #ffa304; 
  color: #fff;
  border: none;
  font-weight: 500;
  transition: 0.3s;
}

.criar_filtros #botoes #adicionar:hover {
  background-color: #ff8000;
}

.criar_filtros #botoes #apagar {
  width: 140px;
  background-color: #ff0a02; 
  color: #fff;
  border: none;
  font-weight: 500;
  transition: 0.3s;
}

.criar_filtros #botoes #apagar:hover {
  background-color: #b8413e;
}


.filtros_cadastrados {
  background-color: #f9fafc;
  padding: 80px 8%;
  margin-top: 40px;
}

.filtros_cadastrados h1 {
  font-size: 26px;
  font-weight: 600;
  color: #444;
  margin-bottom: 40px;
}

#filtro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}


.filtro-card {
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 30px;
  width: 100%;
  max-width: 1100px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.filtro-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.filtro-info {
  display: flex;
  gap: 60px;
  align-items: center;
  flex-wrap: wrap;
}

.filtro-item h3 {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.filtro-item p {
  font-size: 13px;
  color: #666;
  margin-top: 4px;
}


.filtro-acoes {
  display: flex;
  gap: 15px;
}

.acao {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 20px;
  color: #666;
  transition: color 0.2s ease, transform 0.2s ease;
}

.acao:hover {
  color: #000;
  transform: scale(1.1);
}
