body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #bbb;
  padding: 10px 20px;
  height: 50px;
}

.logo {
  font-weight: bold;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: normal;
}

.user {
  font-size: 14px;
}


.criar_relatorios h1 {
    margin-left: 105px;
    margin-top: 30px;
 }

.criar_relatorios #botoes {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
 }

.criar_relatorios #botoes button {
  width: 250px;
  height: 40px;
  font-size: 15px;
  background-color: white; 
  padding: 10px 20px;
  border-radius: 5px;
  border-color:#d0cece;

 }

 .criar_relatorios #botoes #adicionar {
  width: 250px;
  height: 40px;
  font-size: 15px;
  background-color: #737373; 
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
 }

 .criar_relatorios #botoes #apagar {
  width: 150px;
  height: 40px;
  font-size: 15px;
  background-color: #d0cece; 
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
 }



.relatorios {
   
    background-color: #f9f9f9;
    height: 500px;
}

.relatorios h1 {
    margin-left: 70px;
    margin-top: 70px;
    }

#relatorio {
    display: flex;
    align-items: center;
    justify-content: center;
}
 

.relatorio-card {
  background-color: #d6d4d4;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
  margin: 10px 0;
  width: 95%;
  max-width: 1800px;
  font-family: Arial, sans-serif;
}

.relatorio-info {
  display: flex;
  gap: 60px;
  align-items: center;
}

.relatorio-item h3 {
  font-size: 16px;
  margin: 0;
  font-weight: 600;
}

.relatorio-item p {
  margin: 2px 0 0;
  font-size: 12px;
  color: #333;
}

.relatorio-acoes {
  display: flex;
  gap: 10px;
}

.acao {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
  color: #333;
  transition: color 0.2s ease;
}

.acao:hover {
  color: #000;
}
 